.img1 {
            height:auto;
            width:200px;
            max-width:100%;
            border-radius:8px;
            display:left;
        }
.img2 {
            height:auto;
            width:200px;
            max-width:100%;
            border-radius:8px;
            display:left;
        }
.bg_tapes {
            background-image:url('TapeDrives_01.jpg');
            background-repeat:no-repeat;
            background-attachment:fixed;
            background-size:cover;
          }
.bg_blue {
            background-color:lightblue;
         }
